{% extends 'applab/applab_base.html' %}

{% block content %}
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span>Mobile Application Prototypes (AppLab)</span>
                    <p>Welcome to Applab. This is a tool for the IIU, CDC, and its public health partners t otest and collaborate on innovative mobile applications.  Applab showcases iOS and Android apps.</p>
                    <p>Every app has a page which provides and overview / summary and will often include screenshots.  the bottom of the overview page will display the version of the app currently available for download.  For most users, we recommend download the most recevent version (top of the list).
                    </p>
                    <br>
                    <p>Please email <a href="mailto:informaticslab@cdc.gov">informaticslab@cdc.gov</a> with any comments or questions.</p>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>

{% endblock %}
