{% extends 'applab/base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="row">
                <div class="col-lg-12">
                    <h3>Mobile Application Prototypes (AppLab)</h3>
                    <p>AppLab is a tool for the Informatics Innovation Unit(IIU), CDC, and its public health partners to test and collaborate on innovative mobile applications and prototypes. AppLab features apps for    iOS and Android.  Users must follow our <a href="#">code of conduct</a>.</p>

                    <p>Every app has a page which provides an overview / summary and will often include screenshots. The bottom of the overview page will display the
                    versions of the app currently available for download. Every app will have at least one version to download. For most users, we recommend
                    downloading the most recent version (top of the list). </p>

                    <p>Please email <a href="mailto:informaticslab@cdc.gov">informaticslab@cdc.gov</a> with any comments or questions.</p>
                    <br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 new-release-title">
                    <h4>Featured Apps</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 new-release-content">
                    <div class="row">
                        {% for app in apps %}
                            {% if app.icon and app.title and app.description %}
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="panel panel-default">

                                  <div class="panel-body">
                                    <a href="{% url 'app_release_page' app.platform app.id %}"><img src="{{ app.icon.url }}" width="512" height="512" class="img-responsive"></a>
                                    <br><span class="app-title"><a href="{% url 'app_release_page' app.platform app.id %}">{{ app.title }} </a><span class="icon-{{app.platform}}"></span></span>
                                    <p class="version-text">Version {{ app.releaseVersion }}
                                            <!--<br><i>Released: {{app.releaseDate | date:"SHORT_DATE_FORMAT"}}</i>-->
                                    </p>
                                    <!--<div style="height: 50px;" >{{ app.description }}</div>-->
                                  </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}