{% extends 'applab/base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="home-content">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Mobile Application Prototypes (AppLab)</h3>
                    <p>Welcome to AppLab. This is a tool for the IIU, CDC, and its public health partners to test and collaborate on innovative mobile applications. AppLab showcases iOS and Android apps.</p>

                    <p>Every app has a page which provides an overview / summary and will often include screenshots. The bottom of the overview page will display the
                    versions of the app currently available for download. Every app will have at least one version to download. For most users, we recommend
                    downloading the most recent version (top of the list). </p>

                    <p>Please email <a href="mailto:informaticslab@cdc.gov">informaticslab@cdc.gov</a> with any comments or questions.</p>
                    <br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 new-release-title">
                    <h4>New App Releases</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 new-release-content">
                    <div class="row">
                        {% for app in apps %}
                            {% if app.icon and app.project.title and app.description %}
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="panel panel-default">

                              <div class="panel-body">
                                <a href="#"><img src="{{ app.icon.url }}" width="512" height="512" class="img-responsive"></a>
                                <br><span class="app-title"><a href="#">{{ app.project.title }}</a></span>
                                <div>{{ app.description }}</div>
                              </div>


                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{% endblock %}