{% extends 'apps/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row new-release-title">
        <div class="col-lg-7 col-md-4 col-sm-4 col-xs-1">
        </div>
        <div class="col-lg-5 col-md-8 col-sm-8 col-xs-11" style="padding-top:5px;">
            <form class="form-inline pull-right" role="form">
                <div class="btn-group inline">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Sort by <span class="caret"></span>
                    </button>
                    <ul id="dd-right" class="dropdown-menu">
                        <li><a href="{% url 'platform_page' platform 'sortreleasedate' %}">Latest release
                            date</a></li>
                        <li><a href="{% url 'platform_page' platform 'sortname' %}">Name</a></li>
                    </ul>
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 new-release-content">
            <div class="row">
                {% if platform_apps %}
                    {% for release in platform_releases %}
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="{% url 'app_release_page' release.platform app.id %}"><img
                                            src="{{ release.icon.url }}" width="512" height="512"
                                            class="img-responsive"></a>
                                    <br><span class="app-title truncate"><a
                                        href="{% url 'app_release_page' release.platform release.id %}">{{ release.project.title }} </a></span>
                                    <br><span
                                        class="icon-{{ release.platform }}"></span>&nbsp;ver. {{ release.version_string }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Sorry, no apps available for platform: "{{ platform }}"</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        function setActive(clickedElement) {
            // alert(clickedElement.id);
            $('#buttonGroup a').each(function () {
                $(this).removeClass('active');
            });
            $(clickedElement).addClass('active');
        }
    </script>
{% endblock %}
